.contato{
    display: flex;
    padding: 2em;
    background-color: white;
    color: linear-gradient(97.54deg,#002f52 53.49%,#326589 165%);
    flex-direction: column;
    gap: 20px

}

.contato__input{
    border: 1px solid black;
    border-radius: 15px;
    padding: 0.5em;
}

.contato__input::placeholder{
    background: url("/assets/Email.svg");
    background-repeat: no-repeat;
    background-position: 2em;
    text-align: center;
    font-size: 14px;
    font-family: "Poppins";
    font-weight: 400; 
}