
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

.cabecalho{
    display: flex;
    background-color: white;
    justify-content: space-between;
    flex-direction: row;
    position: relative;

}

.cabecalho__menu-hamburguer{
    display: inline-block;
    width: 24px;
    height: 24px;
    background-image: url("/assets/Menu.svg");
    background-repeat: no-repeat;
}

.container {
    display: flex;
    align-items: center;
    padding: 1em;
    gap: 30px;
}

.lista-menu{
    display: none;
    position: absolute;
    top: 100%;
    background-color: white;
    width: 60vw;


}
.lista-menu__link{
    display: flex;
    background: linear-gradient(97.54deg,#002f52 53.49%,#326589 165%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
}

.container__botao{
    display: none;
}

.container__botao:checked~.lista-menu{
    display: block;
}

.lista-menu__titulo,
.lista-menu__item {
    padding: 1em;

}

.lista-menu__titulo{
    color: orange;
    font-weight: 700
}

.container__titulo{
    display: none;
}
.container__lista{
    display: none;
    text-decoration: none;

}


@media (min-width :1024px) {
    .container__lista-item{
        text-decoration: none;
        font-family: "Josefin Sans", sans-serif;
        font-weight: 400;
    }
    .container__lista{
        display:flex;
        align-items: center;
        gap: 2em;    
    }
    .container__titulo {
        display: block;
        font-size: 30px;
        font-family: "Josefin Sans", sans-serif;

    }
    .container__titulo-negrito{
        font-weight: 700;
        font-family: "Josefin Sans", sans-serif;
    }

    .cabecalho__menu-hamburguer{
        display: none;
    }
    .botao__lista-menu{
        display: none;
    }
    .botao__lista-menu:checked~.lista-menu{
         display: block;
         width: auto;
    }

    .lista-menu__titulo,
    .lista-menu__item {
         padding: 0.8em;
         

}
}