


.cabecalho{
    display: flex;
    background-color: white;
    justify-content: space-between;
    flex-direction: row;
    position: relative;

}

.cabecalho__menu-hamburguer{
    display: inline-block;
    width: 24px;
    height: 24px;
    background-image: url("/assets/Menu.svg");
    background-repeat: no-repeat;
}

.container {
    display: flex;
    align-items: center;
    padding: 1em;
    gap: 30px;
}

.lista-menu{
    display: none;
    position: absolute;
    top: 100%;
    background-color: white;
    width: 60vw;


}
.lista-menu__link{
    display: flex;
    background: linear-gradient(97.54deg,#002f52 53.49%,#326589 165%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
}



.container__botao:checked~.lista-menu{
    display: block;
}

.lista-menu__titulo,
.lista-menu__item {
    padding: 1em;

}

.lista-menu__titulo{
    color: orange;
    font-weight: 700
}